.footerBox {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsla(60, 17%, 90%, 0.4);
    color: black;
  
  }
  .logoRs {
    height: 5vh;
  }
  