.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    background-color: rgb(70, 161, 131);
    background: radial-gradient(rgb(42, 35, 44), red, rgb(0, 0, 203) 50%, rgb(36, 37, 112));
}
.wraphexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    background-image: url('../../public/hexagon-big.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.hexatext {
    font-size: 2rem;
}
@media screen and (max-width: 700px) {
    .wraphexagon {
        background-image: url('../../public/hexagon-small.svg');
        background-size: cover;
    }
}