.wrappage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  p {
    font-size: 20px;
  }
  .win {
    font-size: 24px;
  }
}
.content {
  padding: 3wh;
  background-color: aqua;
  opacity: 0.8;
}
.wrapperWin {
  font-size: 3rem;
  color: white;
  text-shadow: black 1vh 1vh 2vh;
}
.wrapperHeaderWin {
  font-size: 2rem;
  color: rgb(158, 147, 66);
  text-shadow: black 1vh 1vh 2vh;
}

.buttonagain {
  box-shadow: black 1vh 1vh 2vh;
}
