.wrappage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        font-size: 20px;
    }
    .win {
        font-size: 24px;
    }
}
.buttonagain {
    width: 300px;
    font-size: 18px;
    line-height: 28px;
    border-radius: 5px;
    border: #997373 solid 2px;
    background-color: #ddaeae;
    margin-top: 20px;
    cursor: pointer;
}