.progressBox {
    display: flex;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: vh;
}

.progressWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    font-weight: 900;
    background-color: hsla(60, 13%, 5%, 0.4);
}

.circleSum {
    background: url(../../public/sum.jpg) no-repeat center;
    background-size: 125%;
    z-index: 20;
    position: absolute;
    top: 30vh;
    left: auto;
    height: 40vh;
    width: 40vh;
    background-color: white;
    font-size: 10vh;
    color: white;
    text-shadow: black 1vh 1vh 1vh;
    border-radius: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 5s linear 0s infinite;
}
.circleText{
    z-index: 30;
    position: absolute;
    top: 30vh;
    left: auto;
    height: 40vh;
    width: 40vh;
    
    font-size: 15vh;
    color: white;
    text-shadow: black 1vh 1vh 1vh;
    border-radius: 20vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}