.headerBox {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerHints {
  display: flex;
  gap: 3vw;
  margin: 0 5vw;
  font-weight: 500;
  font-size: 1.5rem;
}

.headerItem {
  width: 10vh;
  height: 7vh;
  background-color: grey;
  border-radius: 5vh;
  border: 1vh solid white;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}
.headerItem:hover {
  background-color: orange;
}
.icon{
  height: 80%;
}

@media (max-width: 850px) {
  .headerItem {
    width: 5vh;
    height: 5vh;
   font-size: 1rem;
    border-radius: 5vh;
   
  }

  .headerBox {
    justify-content: space-around;
    height: 15vh;
  }

  .headerHints {
    margin: 0;
  }
}
