.rules {
  color: #ffffff;
}

h1 {
  text-align: center;
  text-shadow: black 1vh 1vh 2vh;
}

p {
  text-shadow: black 1vh 1vh 2vh;
  font-size: large;
  margin: 1vh 1vw;
  &::before {
    content: "⬥ ";
    color: rgb(158, 147, 66);
  }
}
