.signinupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  height: 50vh;

  h2 {
    font-size: 2rem;
  }

  h2,
  h3 {
    margin: 0;
  }

  h3 a,
  .link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: rgb(30, 171, 178);
    }
  }

  label {
    font-size: 1.5em;
    font-weight: bold;
  }

  input {
    background-color: transparent;
    width: calc(100% - 2vw);
    height: 100%;
    text-align: center;
    outline: none;
    border: 0;
    font-size: 1em;
    padding-left: 1vw;
  }

  button {
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(30, 171, 178);

    &:hover {
      cursor: pointer;
    }
  }

  .error {
    color: #fba2a2;
    position: absolute;
  }
}

.langBtn {
  position: absolute;
  top: 0;
  cursor:pointer;
}

@media (max-width: 1000px) {
  .signinupform {
    width: 30vw;
  }
}

@media (max-width: 800px) {
  .signinupform {
    width: 50vw;
  }

  h2,
  label {
    font-size: 1em;
  }
}
