.startWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .btnLngSelect {
    margin: 0 18px;
    width: 70px;
    height: 30px;
    font-size: 18px;
    color: black;
    border: rgb(30, 171, 178) solid 2px;
    background-color: rgb(222, 198, 198);
    transition: 0.3s;
    &:hover {
      background-color: white;
    }
  }
  .btnActive {
    background-color: white;
  }
}
