@mixin clip-path($notchSize) {
    clip-path: polygon(
      0% $notchSize, 
      $notchSize 0%, 
      calc(100% - $notchSize) 0%, 
      100% $notchSize, 
      100% calc(100% - $notchSize), 
      calc(100% - $notchSize) 100%, 
      $notchSize 100%, 
      0% calc(100% - $notchSize)
    )
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    // background-color:aquamarine;
    width: 100vw;
    height: 200px;
    @include center;
}

.horizontLine {
    background-color: black;
    width: calc(100vw /3);
    height: 1px;
}

.questionBox {
    background-color: black;
    background-color: aqua;
    width: calc(100vw /3);
    height: 10vh;
    @include clip-path(5vh);
    @include center;
}

.questionContent:hover {
    background-color: grey;
}

.questionContent {
    color:white;
    background-color: black;
    width: calc(100vw / 3 - 5px);
    height: calc(10vh - 0.2vh);
    @include clip-path(calc(5vh - 0.2px));
    @include center;
}
@media (max-width: 850px) {
    .questionBox {
     
        width: 80vw;
      
    }
    .questionContent {
        
        width: 79vw;
    }
}